@import url('https://fonts.googleapis.com/css?family=Raleway:600');

html {
  margin: 0;
  padding: 0;
  color: #191919;
  font-size: 16px;
  font-family: Georgia, sans-serif;
  line-height: 1.7;
}

body {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}