#pupils-small {
  display: block;
  float: right;
  max-width: 300px;
  cursor: zoom-in;
}

.logos {
  display: inline-block;
  height: 50px;
  margin-right: 5px;
}

a:nth-last-child(1) > .logos {
  margin-right: 0;
}

.classesLink {
  color: #ce6d71;
  text-decoration: none;
  /* padding-bottom: 1px;
  background-image:
    linear-gradient(
      to right,hsl(357, 20%, 100%),hsl(357, 20%, 100%)
    );
  background-position: left 0 bottom 0;
  background-repeat: repeat-x;
  background-size: 10px 2px;
  transition: all 0.5s ease-out; */
}

/* .classesLink:hover {
  background-image:
    linear-gradient(
      to right,hsl(358, 79%, 44%),hsl(358, 79%, 44%)
    );
} */